.botao {
    background-color: #ec8888;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 2rem;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 2rem 0;
}

.botao:hover {
    color: #badbe6;
}