.refeicao{
    text-align: center;
}
.refeicao h2 {
    text-align: center;
    font-size: 2rem;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom:0.5rem;
}

@media screen and (min-width:1200px){
    .refeicao .descricao{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       
    }

}